<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% if page.title %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>YEGRB - Edmonton's Ruby Meetup</title>
	{% endif %}
  <meta name="description" content="YEGRB's mission is to grow the Ruby community in Edmonton, Canada.  Come out to our next meetup, or write some code together at our next hackup!">
  <meta name="author" content="Mark Bennett, mark@yegrb.com">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="stylesheets/styles.css">
  <!-- end CSS-->

  <script src="javascripts/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>

    <header>
      <nav>
        <ul class="container">
          <li><a href="#">Home</a></li>
          <li><a href="#">Meetups</a></li>
          <li><a href="#">Hackups</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>

      <hgroup class="container">
        <h1>YEGrb - Edmonton's Ruby Meetup</h1>
        <h2>YEGRB's mission is to grow the Ruby community in Edmonton, Canada.<br/>
Come out to our next meetup, or write some code together at our next hackup!</h2>
      </hgroup>

    </header>
    <div id="content">
      <div class="container">
			{% unless page.is_home %}
				<article class="post" itemscope itemtype="http://schema.org/Article">
				  <h1 itemprop="name">{{ page.title }}</h1>
          <div itemprop="description">
						{{ content }}
					</div>
					<footer>
					  <div class="share-post">
							<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="yegrb">Tweet</a>
					<div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
         FB.init({ 
            appId:'223169201042858', cookie:true, 
            status:true, xfbml:true 
         });
      </script>
			<fb:like></fb:like>
						<div class="g-plusone" data-annotation="inline"></div>
						</div>
					</footer>
				</article>
			{% else %}
				{{ content }}
			{% endunless %}
      </div>
    </div>
    <footer>
    </footer>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="javascripts/plugins.js"></script>
  <script defer src="javascripts/script.js"></script>
  <!-- end scripts-->

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-73138-7']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

			window.onerror = function(errorMsg, url, lineNumber) {
				// Log error in Google Analytics
				var label = "" + url + ":" + lineNumber + " " + errorMsg;
				_gaq.push(['_trackEvent', 'Window', 'Errors', label]);

				// Just let default handler run.
			 return false;
			};
		})();

	</script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
		<![endif]-->

</body>
</html>
